/*

  Cheatsheet

*/
aside.cheatsheet {
  width: var(--cheatsheet-width);
  grid-column: 1;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #1D1D21;
}

hr {
  opacity: 0.5;
  width: 100%;
}

ol li {
  margin-bottom: 1rem;
  transition: all .3s;
  cursor: pointer;
}

ol li:hover {
  font-weight: bold;
  padding: 0 0.3rem;
}

/*

  Selectors
  First & Last types

*/
ol li:nth-of-type(1) :first-of-type {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(2) :last-of-type {
  color: crimson;
  font-weight: bold;
}

/*
  First & last child
*/
ol li:nth-of-type(3) :first-child {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(4) :last-child {
  color: crimson;
  font-weight: bold;
}

/*
  Nth-child
*/
ol li:nth-of-type(5) :nth-child(4) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(6) :nth-child(odd) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(7) :nth-child(even) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(8) :nth-child(3n) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(9) :nth-child(3n + 2) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(10) :nth-child(n + 5) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(11) :nth-child(-n + 5) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(12) :nth-last-child(n + 5) {
  color: crimson;
  font-weight: bold;
}

ol li:nth-of-type(13) :nth-last-child(-n + 5) {
  color: crimson;
  font-weight: bold;
}
