form{

  padding: 20px;
  margin: 0 auto;
  max-width: 70%;
  margin-bottom: 20px;
}

fieldset {
  border: 5px solid black;
}

.question-container{
  display: flex;
  align-items: center;
  justify-content: space-around
}

.answer-group input {
  width: 50px;
}

.answer-group{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#answer:valid, button{
  border: 0;
  border-bottom: 3px solid green
}
#answer:invalid, button{
  border: 0;
  border-bottom: 3px solid red
}

button{
  width:  70px;
  height: 100%;
}

.question-list li {
 list-style:none;
 padding: 5px 100px;
 margin: 10px 0;
 border-radius: 5px;
 border: 1px solid black;
}

input{
  background-color: transparent;
  transition: .3s;
}

input:focus {
  outline: none;
  width: 100px;
  animation: highlighter 1s ease-out;
}


#q1 li:nth-child(4n+2) {
  background-color: #4285F4;
  color: #FFFFFF;
}

#q2 li:nth-child(-n+2) {
  background-color: #4285F4;
  color: #FFFFFF;
}