@charset "UTF-8";
:root {
  --red: #ED3C20;
  --black: #272624;
  --beige: #EBE0CE;
  --beige-light: #EBE0CE20;
  --font-size: 1em;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + label {
  background-color: green;
  font-size: 2em;
}

[type="checkbox"]:checked + label main {
  font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--red);
  color: var(--black);
  margin: 0 auto;
  width: 60vw;
}

.grid-container {
  width: calc(100% - 60px);
  max-width: 1600px;
  height: 100%;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: fixed;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  z-index: -1;
}

.grid-container span {
  border: 0.5px solid var(--beige-light);
}

main {
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}

body > header {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
  color: var(--beige);
  text-align: center;
}

body > header h2 {
  font-size: calc(var(--font-size) * 3);
  border-bottom: 7px solid var(--beige);
}

section {
  margin-bottom: 150px;
  max-width: 100%;
  padding: 50px;
  background-color: var(--beige);
  border-radius: 20px;
  counter-reset: section;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
  gap: 1em;
  position: relative;
}

section h2 {
  font-size: calc(var(--font-size) * 3);
  text-transform: capitalize;
  border-bottom: 10px solid var(--red);
  width: max-content;
}

section:first-of-type {
  margin-top: 20px;
}

section:after {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  z-index: -1;
  border: var(--beige) 2px solid;
  border-radius: 25px;
  box-shadow: 0 0 1px 0px var(--red) inset, 0 0 1px 0px var(--red);
}

body article {
  max-width: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--red);
  column-gap: 1em;
  transition: .3s;
  overflow: hidden;
  display: relative;
}

body article:hover, body article:focus {
  outline: none;
  box-shadow: -7px 7px 0px -1px var(--red);
}

body article h3 {
  text-transform: capitalize;
}

body article h3::before {
  counter-increment: section;
  content: "#0" counter(section) " ";
}

body article div {
  margin-top: 10px;
  font-weight: 600;
  text-align: right;
  align-self: flex-end;
}

body article div:before {
  content: '€';
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --red: #272624;
    --black: #272624;
    --beige: #fff;
  }
}

@media print {
  :root {
    --red: #272624;
    --black: #272624;
    --beige: #fff;
  }
  html,
  body {
    width: 100vw;
    height: 100%;
  }
  script,
  style {
    display: none;
  }
  [type="checkbox"] + main {
    display: none;
  }
  body > header {
    display: none;
    margin-bottom: 1cm;
  }
  section {
    height: 80vh;
    break-inside: avoid;
  }
  section:after {
    border: 0;
  }
  body article:hover, body article:focus {
    outline: none;
    box-shadow: none;
  }
  body article:before {
    content: '';
    align-self: flex-start;
    height: 1cm;
    width: 1cm;
    border: 2px dotted black;
    padding-right: 20px;
  }
}
