body {
  padding: 0;
  margin: 20px;
  max-width: 60vw;
  margin: 0 auto
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
  gap: 2em;
  grid-template-areas: "head nav"
    "nav  main"
    "nav  foot";
}

blockquote {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

blockquote p {
  margin-top: 0;

}

header h1 span:nth-child(3){
  display: none;
}

header h1::after {
  content: 'Daughters';
  /* background-color: black; */
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

section {
  height: max-content;
  border: 2px solid black;
  text-align: center;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header:before {
  content: "";
  margin-top: -10px;
  right: 20%;
  width: 70%;
  height: 120px;
  position: absolute;
  z-index: -1;
  /* background-color: tomato; */
}

h2 {
  font-size: 2.5em;
}

article {
  height: max-content;
  padding: 20px;
  border-top: 1px solid black;
}

article:focus-within,
article:hover {
  background-color: #212121;
  color: #fff
}

article div{
  max-width: 50px;
  text-align: center;
}

article div::before {
  content: '€'
}

/* article div:hover{
  text-decoration: underline;  
  text-decoration-color: #fff;
  text-decoration-thickness: 5px;
} */


/* https://stackoverflow.com/a/40244401 */
article div:after {
  display: block;
  content: '';
  border-bottom: solid 5px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 50% -50%
}

article div:hover::after {
  transform: scaleX(1);
  transform-origin: 50% -50%;
}
/* end */

/* 
  Summary
*/

summary {
  display: grid;
  grid-template-columns: 40px 2fr .5fr;
}

summary h3 {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin: 0px 5px;
  text-align: left;
}

summary div {
  font-size: 1.2rem;
}

summary:focus {
  outline: none
}

/* 
  Details
*/

details {
  cursor: pointer;
  transition: .3s;
}

details p::first-letter {
  text-transform: capitalize;
}


details[open] {
  /* background-color: #9a9a9a; */
}

details[open] summary~* {
  animation: fadeIn .2s linear;
}
details[close] summary~* {
  animation: fadeOut .2s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    margin-top: 0m
  }

  100% {
    opacity: 1;
    margin-top: -1em
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -1em
  }

  100% {
    opacity: 1;
    margin-top: 0m
  }
}


/* https://stackoverflow.com/a/10813665 */
details>summary::-webkit-details-marker {
  display: none;
}

details>summary::before {
  content: '👉';
  animation: rotate .2s linear;
  /*doesnt work yet?*/
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(45deg)
  }
}

details[open]>summary::before {
  /* transform: rotate(90deg); */
  content: '👇';
}

/* end */